.navigation-menu{
    display: flex;
    align-items: center;
}

.navigation-menu__item{
    margin: 0 26px 0 26px;
    font-family: 'Roboto', 'sans-serif';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: var(--light-gray-color);
    cursor: pointer;
}

.navigation-menu__item:first-child{
    margin-left: 49px;
}

.navigation-menu__item:last-child{
    margin-right: 0px;
}

.navigation-menu_selected{
    border-radius: 32px;
    border: 1px solid #C4C1CF;
    padding: 10px 25px 10px 25px;
    margin: 0;
    box-sizing: border-box;

}