.main{
    display: flex;
    flex-wrap: wrap;
    margin: 222px auto 200px auto;
    padding: 0 32px;
    overflow: hidden;
    justify-content: center;
}

.main__cardList{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
}

@media (min-width: 320px) and (max-width: 767px )  {
    .main__cardList{
        justify-content: center;
    }

}


