.discount{
    width: 80px;
    height: 80px;
    border-radius: 24px;
    background-color: var(--black-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.discount__header{
    font-family: 'Roboto', 'sans-serif';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: var(--white-color);
    margin-left: 10px;
}

.discount__paragraph{
    font-family: 'Roboto', 'sans-serif';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: var(--light-gray-color);
}