@keyframes ldio-wl9g0qj937s {
    0% { opacity: 1 }
    100% { opacity: 0 }
}
.ldio-wl9g0qj937s div {
    left: 94px;
    top: 48px;
    position: absolute;
    animation: ldio-wl9g0qj937s linear 1.2048192771084336s infinite;
    background: #1b76c6;
    width: 12px;
    height: 24px;
    border-radius: 6px / 12px;
    transform-origin: 6px 52px;
}.ldio-wl9g0qj937s div:nth-child(1) {
     transform: rotate(0deg);
     animation-delay: -1.104417670682731s;
     background: #1b76c6;
 }.ldio-wl9g0qj937s div:nth-child(2) {
      transform: rotate(30deg);
      animation-delay: -1.004016064257028s;
      background: #1b76c6;
  }.ldio-wl9g0qj937s div:nth-child(3) {
       transform: rotate(60deg);
       animation-delay: -0.9036144578313252s;
       background: #1b76c6;
   }.ldio-wl9g0qj937s div:nth-child(4) {
        transform: rotate(90deg);
        animation-delay: -0.8032128514056224s;
        background: #1b76c6;
    }.ldio-wl9g0qj937s div:nth-child(5) {
         transform: rotate(120deg);
         animation-delay: -0.7028112449799196s;
         background: #1b76c6;
     }.ldio-wl9g0qj937s div:nth-child(6) {
          transform: rotate(150deg);
          animation-delay: -0.6024096385542168s;
          background: #1b76c6;
      }.ldio-wl9g0qj937s div:nth-child(7) {
           transform: rotate(180deg);
           animation-delay: -0.502008032128514s;
           background: #1b76c6;
       }.ldio-wl9g0qj937s div:nth-child(8) {
            transform: rotate(210deg);
            animation-delay: -0.4016064257028112s;
            background: #1b76c6;
        }.ldio-wl9g0qj937s div:nth-child(9) {
             transform: rotate(240deg);
             animation-delay: -0.3012048192771084s;
             background: #1b76c6;
         }.ldio-wl9g0qj937s div:nth-child(10) {
              transform: rotate(270deg);
              animation-delay: -0.2008032128514056s;
              background: #1b76c6;
          }.ldio-wl9g0qj937s div:nth-child(11) {
               transform: rotate(300deg);
               animation-delay: -0.1004016064257028s;
               background: #1b76c6;
           }.ldio-wl9g0qj937s div:nth-child(12) {
                transform: rotate(330deg);
                animation-delay: 0s;
                background: #1b76c6;
            }
.loadingio-spinner-spinner-d4jxqorzp4l {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
}
.ldio-wl9g0qj937s {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
}
.ldio-wl9g0qj937s div { box-sizing: content-box; }
